include README.md
include requirements.txt
include LICENSE
include setup_study.py
include update_core.py
recursive-include study_framework_core/templates *
recursive-include study_framework_core/static *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]



